<button (click)="toggleLanguage()">FA/EN</button>
<div class="demo-html" #demoHtmlDiv>
  <table id="example" class="display" style="width:100%">

    <thead>
      <tr class="header-row">
        <th colspan="6">لیست اطلاعات پایه</th>
    </tr>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Age</th>
        <th>Startdate</th>
        <th>Salary</th>
      </tr>
      <tr>
        <th>نام</th>
        <th>مکان</th>
        <th>اداره</th>
        <th>سن</th>
        <th>تاریخ شروع</th>
        <th>حقوق</th>
      </tr>
      <!-- <tr>
        <th><input type="text" placeholder="Search Name" /></th>
        <th><input type="text" placeholder="Search Position" /></th>
        <th><input type="text" placeholder="Search Office" /></th>
        <th><input type="text" placeholder="Search Age" /></th>
        <th><input type="text" placeholder="Search Start date" /></th>
        <th><input type="text" placeholder="Search Salary" /></th>
      </tr> -->
    </thead>

    <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>2011/04/25</td>
        <td>$320,800</td>
      </tr>

      <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>$170,750</td>
      </tr>
      <tr>
        <td>Ashton Cox</td>
        <td>Junior Technical Author</td>
        <td>San Francisco</td>
        <td>66</td>
        <td>2009/01/12</td>
        <td>$86,000</td>
      </tr>


      <!-- Add more rows as needed -->
    </tbody>
  </table>
</div>



