<div class="app-container">
  <header class="app-header">
    <!-- <h1>سیستم مدیریت پارامترها</h1> -->
    <!-- <nav class="app-nav">
      <a [routerLink]="['/parameters']" routerLinkActive="active">لیست پارامترها</a>
      <a [routerLink]="['/parameters/new']" routerLinkActive="active">ثبت پارامتر جدید</a>
    </nav> -->
  </header>

  <main class="app-content">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <p>سیستم مدیریت پارامترهای اطلاعاتی &copy; 2025</p>
  </footer>
</div>